<div class="layui-row layui-col-space5">
  <div class="layui-col-md3">
    <a href="http://lib.zuotiyi.cn/tool/ggscholar.html" class="grid-demo grid-demo-bg1" style="display: block;" target="_blank">谷歌学术镜像导航</a>
  </div>
  <div class="layui-col-md3">
    <a href="https://xs.typicalgame.com/" class="grid-demo" style="display: block;" target="_blank">可用的</a>
  </div>
  <div class="layui-col-md3">
    <a href="https://www.notion.so/" class="grid-demo grid-demo-bg1" style="display: block;" target="_blank">notion 笔记本</a>
  </div>
  <div class="layui-col-md3">
    <a href="https://aistudio.google.com/app/prompts/new_chat" class="grid-demo" style="display: block;" target="_blank">Gemini AI</a>
  </div>
</div>